# Compilación
build/

# Análisis
Analysis/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Carpetas de plots generadas
python/plots/
python/plots_boron/
python/plots_3configs/
python/plots_gamma_boron/

# Archivos temporales del editor
*.swp
*.swo
*~
